body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 960px;
  margin: 50px auto;
}

.main-title {
  border-top: 3px solid black;
  padding-top: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  margin-bottom: 15px;
}

.subtitle {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  margin: 0;
}

.random-container {
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.random-btn {
  background: transparent;
  border: none;
  color: rgb(234, 191, 0);
  font-family: "Dancing Script", cursive;
  cursor: pointer;
  font-size: 19px;
}

.random-btn:hover,
.random-btn:active {
  color: rgb(215, 176, 2);
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.search-form__input {
  padding: 6px 15px;
  border-radius: 5px;
  min-width: 550px;
  font-family: "Satisfy", cursive;
  font-size: 16px;
}

.search-form__input:hover {
  border: 2px solid rgb(234, 191, 0);
  transition: all 0.4s ease;
}

.search-form__btn {
  border-radius: 5px;
  padding: 0 44px;
  font-weight: 700;
  font-size: 25px;
  background-color: rgb(234, 191, 0);
  cursor: pointer;
  font-family: "Satisfy", cursive;
}

.search-form__btn:hover {
  opacity: 0.85;
}

.search-form__btn:active {
  transform: scale(1.02);
  transition: all 0.4s ease;
}

.meals {
  padding-left: 0;
  list-style-type: none;

  gap: 20px;
}
/* 
.card {
  display: grid;
  grid-template-columns: 65% 35%;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  text-align: left;
}

.card__img {
  width: 100%;
  flex-shrink: 1;
}

.card__description {
  flex-basis: 60%;
} */

.bold {
  font-weight: 700;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

.subtle-dark {
  color: #898686;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  float: left;
  width: 310px;
}

.card-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 15px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
  width: 300px;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

.link {
  color: black;
  text-decoration: none;
}

.iframe-center {
  display: block;
  text-align: center;
}

.back-button {
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: -1px 2px 11px -6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border-radius: 3px;
}

.back-button:hover,
.back-button:active {
  box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.75);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
